img {
    float: left;
}

h1 {
    color: #072A40;
    text-align: center;
}

.sidebar {
    width: 30%;
    float: right;
    background-color: yellow;
  }
  .column {
    width: 450px;
    float: left;
  }