html {background-color: #E59A59;}
body {background-color: #FFD5AF;}
h1 {color: #712E1E;
    text-align: center;}
h2 {color: #888870;
    font-style: italic;
    text-align: center;
}
.intro {
    font-style: oblique;
}
p   {font-family: lucida sans;
    color: #888870;
    line-height: 20px;
    }
ol  {line-height: 40px;} 
.interests {
    color: #712E1E;
    font-weight: 800;
}
#p1 {
    color:#888870;
    font-weight: 600;
}
.important {
    color: rgb(92, 61, 5);
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}
.unimportant {
    color: #36487c;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}